.copyright {
    width:300px;
    font-family: $primaryFont;
    font-size:14px;
    margin: 50px auto;
    &:before {
        content:'';
        display:block;
        width:35px;
        height:35px;
        background-image: url('./img/logo.png');
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;

    }
}