.copyright {
    width:400px;
    font-family: $primaryFont;
    font-size:14px;
    margin: 50px auto;
    position: relative;
    &__text {
        display:inline-block;
        vertical-align:middle;
    }
    
}
.logo-small {
    width:35px;
    height:35px;
    background-image: url('../img/logo-black.png');
    background-position: center;
    background-size: contain;
    display:inline-block;
    vertical-align:middle;
    margin-right:30px;
}